[submodule "FastRTPSBridge"]
	path = FastRTPSBridge
	url = https://github.com/DimaRU/FastRTPSBridge.git
	branch = swift-package
[submodule "Shout"]
	path = Shout
	url = https://github.com/DimaRU/Shout.git
	branch = integrated
