[submodule "FastRTPSBridge"]
	path = FastRTPSBridge
	url = https://github.com/DimaRU/FastRTPSBridge.git
	branch = develop
[submodule "SwiftSH"]
	path = SwiftSH
	url = https://github.com/DimaRU/SwiftSH.git
