language: swift
osx_image: xcode11.3

branches:
  only:
    - master

cache:
  directories:

before_install:
 - mkdir -p  $HOME/Developer/tools || true
 - git clone --quiet --depth 1 https://github.com/DimaRU/polly.git $HOME/Developer/tools/polly

script:
 - set -o pipefail && xcodebuild clean build -project TridentCockpit.xcodeproj -scheme TridentCockpitiOS -destination "platform=iOS Simulator,name=iPhone 8,OS=13.3" CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO ONLY_ACTIVE_ARCH=NO | xcpretty
 - set -o pipefail && xcodebuild clean build -project TridentCockpit.xcodeproj -scheme TridentCockpit -destination "platform=macOS"  CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO ONLY_ACTIVE_ARCH=NO
 